* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  
}


h1 {
  height: 10vh;
  text-align: center;
  font-weight: 500;
}

#container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

#main-app {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app-history {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

#current-balance{
  text-align: center;
  margin: 3%;
}

#income,#expense{
  text-align: center;
}

#form-heading {
  margin: 5%;
}

.input{
  margin: 2% 2% 2% 0;
}

#history-banner{
  margin: 5%;
}

#history{
  list-style-type: none;
}

#li{
  width: 350px;
  display: flex;
  justify-content: space-between;
}

#delete-button{
  padding: 4px;
  margin: 0;
  background-color: tomato;
  text-decoration: none;
  color: white;
}

#submit{
  padding: 5px 37px;
  background-color: steelblue;
  color: white;
  text-decoration: none;
}
